:root{
    --icon-small: 16px;
    --icon-medium: 20px;
    --icon-large: 24px;
    --padding: 10px;
    --border: 1px solid rgba(120, 120, 120, 0.347);
    --boderRadius: 4px;
    --boxShadow: 1px 1px 3px 1px rgb(195, 195, 195);
    --white: #ffffff;
    --blue:#405eec; 
}

.createBar{
    background-color: #e2e4e9;
    height: calc(var(--padding)*5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.box{
    position: relative;
    width: 100%;
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
}

.tatCaTiemNang{
    font-weight: 500;
}

.mauTieuChuan{
    font-weight: 500;
    font-size: .9rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
}
.suaBoCuc{
    font-weight: 500;
    font-size: .8rem;
    color:var(--blue);
}
.createLeftFixButton{
    color: var(--blue);
    font-size: 0.9rem;
    font-weight: 500;
}

.createLeftFixButton:hover{
    cursor: pointer;
}

.createLeftRefreshButton:hover{
    cursor: pointer;
}

.createLeft{
    display: flex;
    align-items: center;
}

.createRight{
    display: flex;
    align-items: center;
}


.cancelButton{
    display: flex;
    align-items: center;
    background-color: var(--white);
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: var(--border);
}

.cancelButton:hover{
    cursor: pointer;
}
.cancelButtonChild{
    padding-left: 15px;
    font-weight: 500;
}
.saveAndCreate{
    display: flex;
    align-items: center;
    background-color: var(--white);
    width: 120px;
    height: 30px;
    border-radius: 4px;
    border: var(--border);
    margin-left: var(--padding);
}

.saveAndCreate:hover{
    cursor: pointer;
}

.saveAndCreateChild{
    padding-left: 18px;
    font-weight: 500;
}


.saveButton{
    display: flex;
    align-items: center;
    margin-left: var(--padding);
}

.saveButtonChild:hover{
    cursor: pointer;
}
.saveButtonChild span {
    color: white;
}
.saveButtonChild{
    width: 50px;
    background-color: var(--blue);
    color: var(--white);
    padding: 5px;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
}

